body{
    font-family: "Comic Sans MS",sans-serif;
}

.container{
    background-color: gray;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction:row-reverse;
    height: 500px;
    align-items:flex-start;
    justify-content:space-evenly;
}
.container h1{
    background:linear-gradient(45deg,pink,yellow);
    text-align: center;
    padding: 25px;
    margin:10px;
    /*flex:1;*/
}

.container-fluid{
    background-color: gray;
    padding: 10px;
    display: flex;
}
.container-fluid h1,.container-fluid h2,.container-fluid h3{
    background:linear-gradient(45deg,pink,yellow);
    text-align: center;
    padding: 25px;
    margin:10px;
}
.container-fluid h1{
    flex:3
}
.container-fluid h2{
    flex:2
}

.container-fluid h3{
    flex:1
}