body{
    background-color: teal;
}
.container{
    border:5px solid saddlebrown;
    width:500px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px black;
}

.container img{
    height: inherit;
    width: inherit;
    transform: perspective(400px) translateX(50%);
    transition: all 0.5s;
}

.container:hover img{
    transform: perspective(400px) translateX(0%);
}

.container .content{
    position: absolute;
    top:0;
    left:0;
    background-color: deeppink;
    width:50%;
    height: 100%;
    text-align: left;
    padding:10px;
    color: whitesmoke;
    transform: perspective(400px) translateX(0%);
    transition: all 0.5s;
}
.container:hover .content{
    transform: perspective(400px) translateX(-100%);
}